html,
body {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    box-shadow: none;
    border-radius: 6px;
    padding: 6px 16px;
}

.upper-section {
    background-color: #1F2937;
    color: #fff;
}

.top-bar, .hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top-bar {
    padding-top: 16px;
}

.header-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.hero-section {
    padding: 40px;
}

.hero-section button {
    background-color: #3882F6;
    color: #fff;

}

.hero-section img{
    width: auto;
    height: 150px;
}

.hero-content {
    margin-right: 16px;
}

.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content{
    height: 100px;
    width: 100px;
    border: 3px solid #3882F6 ;
    border-radius: 10px;
}

.quote-section, .call-to-action-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quote-section {
    background-color: #E5E7EB;
    padding: 50px 0;
}

.author {
    align-self: flex-end;
}

.call-to-action-section {
    padding: 70px;
}

.call-to-action{
    background-color: #3882F6;
    color: #ffff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
}

.call-to-action button{
    background-color: #3882F6;
    color: #ffff;
    border: 2px solid #ffff;
    height: 30px;
    width: 110px;
    flex-shrink: 0;
    
}

.call-to-action h3, .call-to-action p, .footer-section p  {
    margin: 0;
}

.upper-section,
.info-section,
.quote-section,
.call-to-action-section {
    flex-shrink: 0;
}

.call-to-action-section {
    flex: 1;
}

.footer-section {
    background-color: #1F2937;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}